table,th,td{
	border: 5px double darkred;
	/*border-collapse: collapse;*/
	text-align: center;
}
table{
	width: 100%;
	height: 50%;
      border-spacing: 20px;
}
th,td{
	height: 50px;
	width: 100px;
	padding: 15px;
	vertical-align: middle;
}
th{
	background-color: darkgreen;
	color: white;
}

tr:nth-child(even){
	background-color: gray;
	color: white;
}
tr:nth-child(odd){
	background-color: blanchedalmond;
	color: black;
}
tr:nth-child(odd) td:hover{
      background-color: orangered;
      color: cadetblue;
}
tr:nth-child(even) td:hover{
      background-color: aliceblue;
      color: green;
}
.tr1 th:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}
.tr2 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}
.tr3 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}

.tr4 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}

.tr5 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}

.tr6 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}

.tr7 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}

.tr8 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}
.tr9 td:hover{
      background-color: coral;
      color: darkred;
      border-radius: 50%;
}
/*i.fa{
    color: purple;
    font-size: 50px;
    padding: 5px 10px;
}
*/
